@use "~bootstrap/scss/bootstrap" as *;
.card{
    height: 200px;
}

.card-body{
display: flex;
flex-direction: column;
justify-content: end;
gap: 20px;
}
.card-text{
    display: flex;
    justify-content: space-around;
}

